.logo-img{
    height: 48px;
    width: 48px;
    margin: 0 20px;
}
.nav-link{
    text-decoration: none;
    color: #3A1212;
    border-bottom: 3px solid #FF2624;
}
.nav-links{
    align-items: flex-end;
    margin-right: 20px;
    font-size: 30px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}